html {
  font-family: Georgia, serif;
}

main {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #e2e2e2;
}

.year {
  width: 7em;
}

.notes {
  width: 16em;
}

.distance {
  width: 6em;
}

table {
  min-width: 50em;
}

@media
